<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeiBoDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC87D2951D582A3900E24E41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC87D2B11D582A3900E24E41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC87D2BC1D582A3900E24E41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
